aside {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #4b75f2;
  color: #fefefe;
  padding: 1rem 1rem;
}


.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: auto;
}

.linkNavigation {
  text-decoration: none;
  display: block;
  padding: 1rem 0rem;
  color: #fefefe;
}

.linkNavigation:hover {
  background-color: #415aa6;
}