body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px;
}

.spinning-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}