.buttonBase {
  display: flex;
  gap: "8px";
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  min-width: 2.5rem;
  min-height: 2.5rem
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #4b75f2;
  border: 1px solid #4b75f2;
  color: #fefefe;
  border-radius: 4px;
}

.button:disabled {
  cursor: auto;
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.outlined {
  background-color: transparent;
  color: #4b75f2;
}

.rounded {
  padding: .5rem !important;
  border-radius: 2rem;
}

.button:hover,
.button:active {
  background-color: #415aa6;
  border-color: #415aa6;
  color: #fefefe;
}


.textButton {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #4b75f2;
}

.textButton:hover,
.textButton:active {
  color: #415aa6;
  background-color: ;
}

.textButton:disabled {
  font: inherit;
  cursor: auto;
  background-color: transparent !important;
  border: none !important;
  color: #666666 !important;
}
