.inputGroup {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.inputGroup label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inputGroup input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputGroup textarea {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputGroup select {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
